/* Variables */
:root {
    --jaune: #ffec85;
    --rouge: #FFAEA3;
    --rose: #FAD7E5;
}

@font-face {
    font-family: 'Baton turbo';
    src: url('../assets/fonts/Baton\ Turbo\ Medium.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Baton bold';
    src: url('../assets/fonts/Baton\ Turbo\ Heavy.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Baton regular';
    src: url('../assets/fonts/Baton\ Turbo\ Regular.otf') format('opentype');
    font-weight: normal;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Base styles*/
body {
    font-size: 14px;
    font-family: 'Baton turbo';
}

/* le "header" juste pour l'aspect visuel*/
header {
    height: 50px;
    background-color: white;
    border: 0.5px black solid;
    margin-bottom: 20px;
}

/*Mobile styles*/
h1, h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Baton bold';
}

h3 {
    font-family: 'Baton bold';
    font-size: 1.7em;
    text-transform: uppercase;
}

/* section 1 : main topic */
#main_topic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%; 
}

h1 {
    grid-column: 1/12;
    grid-row: 1;
}

#main_topic_img {
   margin: 15px 0;
}
#main_topic figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

#main_topic img {
    width: 100%;
}

#main_topic p {
    text-align: center;
    margin: 8px 40px;
    font-size: 1.4em;
    line-height: 110%;
    /*pour réduire l'interligne*/
}

/* bouton "prendre rendez-vous"*/
#main_topic button {
    width: 50%;
    padding: 8px 15px;
    border-radius: 3px;
    background-color: black;
    align-self: center;
}

#main_topic button a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Baton regular";
}

/* en savoir plus*/
#main_topic #en_savoir_plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#main_topic #en_savoir_plus p {
    text-transform: uppercase;
    font-size: 1.1em;
}
#en_savoir_plus a{
    text-decoration: none;
    color: black;
}
/* fleche de 'en savoir plus'*/
#en_savoir_plus i {
    font-size: 20px;
    cursor: pointer;
}

/* section 2 : rendezvous */
#rendezvous {
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
}

#rendezvous h2 {
    text-align: start;
}
#rdv-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*coleurs card*/
.fetiche {
    background-color: var(--jaune);
}

.essentiel {
    background-color: var(--rouge);
}

.lingerie {
    background-color: var(--rose);
}

.card-body {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 40px;
    margin: 20px 0;
}

/* icones card */
.card-body i {
    font-size: 45px;
    margin-bottom: 15px;
}

/* petit titre en dessous de l'icone*/
.tiny_title {
    font-size: 0.9em;
    font-family: 'Baton turbo';
    text-transform: uppercase;
}

.card-body h3 {
    margin-top: -12px;
    /* pour faire remonter le titre*/
    margin-bottom: 10px;
}

.card-text {
    width: 93.5%;
    /* pour eviter de mettre un br*/
    font-size: 1.4em;
    margin: 15px 0;
}

/* bouton rdv */
.btn-rdv {
    border: 2px black solid;
    border-radius: 4px;
    width: 75%;
    padding: 8px;
    margin: 15px 0 20px 0;
    background-color: transparent;
}

.btn-rdv a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
}

/* section 3 : how to / comment ça marche ? */

#how_to {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

/*image femme maillot orange*/

#how_to_img figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

#how_to figure img {
    width: 100%;
    
}

/*comment faire*/
#etapes_how_to {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rose);
    padding: 32px;
}

#etapes_how_to ol {
    width: 100%;
    list-style-type: decimal inside;
    padding-left: 45px;
}

#etapes_how_to ol li::marker {
    font-size: 2em;
}

#etapes_how_to ol li {
    padding: 5px;
    font-size: 1.5em;
}

/* section 4 : faq */
#faq {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#faq h2 {
    text-align: start;
    width: 70%;
    margin-bottom: 25px;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 92%;
}
/* bouton toggle */
#toggle_example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
}

#toggle_example #btn_toggle {
    cursor: pointer;
    font-size: 25px;
    justify-self: end;
}

#questions h3 {
    width: 90%;
    margin-bottom: 20px;
}
/*reponse toggle*/
#reponse {
    width: 85%;
    font-size: 1.5em;
    text-align: start;
    margin-bottom: 20px;
    display: none;
}

/*Small tablet styles*/

/*large tablets & laptop */

/* desktop */
@media screen and (min-width:900px){
    h2{
        font-size: 2.5em;
    }
    /*SECTION 1 / Main topic*/
    #main_topic{
        flex-direction: column;
        align-items: center; 
        justify-content: flex;
        flex-wrap: wrap;
    }
    /* #main_topic h1{

    } */
    #main_topic_img{
        width: 50%;
        order: 1;
        align-self:flex-start;

    }
    #main_topic_img figure{
        width: 100%;
    }
    #main_topic_img img{
    max-width: 100%;}
    
    /* }
    #main_topic p {
       
    }
    #main_topic button {
       
    }
    #en_savoir_plus {
       
    } */
    /* SECTION 2 / Rendez vous*/
    #rendezvous{
        display: block;
    }

    /*SECTION 3 / How to*/
    #how_to{
        flex-direction: row-reverse;
        height: 560px;
    }
    #how_to_img figure{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #how_to_img figure img{
        height: 100%;
        transform:scaleX(1.3);
    }
    #etapes_how_to{
        width: 70%;
    }
    #etapes_how_to ol{
        width: 90%;
    }
    #etapes_how_to ol li{
        font-size: 1.2em;
    }
    /* SECTION 4 / faq */

    #faq{
        margin-top: -90px;
        margin-left: 55px;
    }
    #reponse{
        font-size: 1.2em;
        width: 87%;
    }
    #questions{
        margin-top: 20px;
    }
}